@mixin light {
    --color-text: #433c50;

    --bg-primary: #f4f5fa;
    --bg-card: #ffffff;

    --color-bs: #aba8b1;
    --color-gray-light: #2e263d0f;
}

@mixin dark {
    --color-text: #d5d1ea;

    --bg-primary: #28243d;
    --bg-card: #312d4b;

    --color-bs: rgba(19, 17, 32, .24);
    --color-gray-light: rgba(255, 255, 255, .09);
}