.slogan {
    font-weight: 500;
    text-transform: capitalize;
    color: var(--color-gray);
}

.title {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-text);
    padding: 20px;
}

.line {
    width: 100%;
    height: 1px;
    background: var(--color-gray-light);
}

.btn-content {
    padding-top: 16px;

    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.dropdown {
    padding: 20px;
}