:root {
    --color-white: #fff;
    --color-gray: #aba8b1;
    --color-gray-light: #2e263d0f;
    --color-text-dark: #433c50;

    --color-primary: #8c57ff;
    --color-primary-dark: #7e4ee6;
    --color-primary-light: #ede4ff;
    --color-primary-light--hover: #e3d7ff;
    --color-primary-outline--hover: #f6f2ff;

    --color-secondary: #8a8d93;
    --color-secondary-light: #ecedee;
    --color-secondary-light--hover: #e3e4e5;
    --color-secondary-dark: #7c7f84;
    --color-secondary-outline--hover: #f6f6f6;

    --color-success: #56ca00;
    --color-success-light: #e4f7d6;
    --color-success-light--hover: #d6f2c2;
    --color-success-dark: #4db600;
    --color-success-outline--hover: #f1fbeb;

    --color-danger: #ff4c51;
    --color-danger-light: #ffe2e3;
    --color-danger-light--hover: #ffd4d5;
    --color-danger-dark: #e64449;
    --color-danger-outline--hover: #fff1f1;

    --color-warning: #ffb400;
    --color-warning-light: #fff3d6;
    --color-warning-light--hover: #ffedc2;
    --color-warning-dark: #e6a200;
    --color-warning-outline--hover: #fff9eb;

    --color-info: #16b1ff;
    --color-info-light: #daf3ff;
    --color-info-light--hover: #c7ecff;
    --color-info-dark: #149fe6;
    --color-info-outline--hover: #ecf9ff;

    --color-dark: #4b4b4b;
    --color-dark-light: #e2e2e2;
    --color-dark-light--hover: #d4d4d4;
    --color-dark-dark: #444;
    --color-dark-outline--hover: #f1f1f1;

    --bg-primary: #f4f5fa;

    --padding-menu-item: 8px 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: "Apple-system";
}

@font-face {
    font-family: "Apple-system";
    src: url("../assets/fonts/Inter-VariableFont_opsz.ttf");
    font-size: 16px;
}

body {
    background: var(--bg-primary);
}