$response-sl: 567px;
$response-sx: 767px;
$response-sw: 1199px;

:root {
    --color-white: #fff;
    --color-gray: #aba8b1;
    --color-gray-light: #2e263d0f;

    --color-dark: #433c50;

    --color-purple: #8c57ff;

    --bg-primery: #f4f5fa;

    --padding-menu-item: 8px 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", -apple-system, BlinkMcSystemFont, "SegoeUI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
    background: var(--bg-primery);
}