@media (max-width: $response-sw) {
    .aside {
        transform: translateX(-260px);
    }

    .aside-active {
        transform: translateX(-260px);
    }

    ///////////////////////////////////////////

    .header-search__menu {
        display: block !important;
    }

    ///////////////////////////////////////////

    .main {
        width: 100% !important;
        margin: 0 !important;
        padding-left: 0 !important;
    }

    .main-check {
        width: 100% !important;
        margin: 0 !important;
        padding-left: 0 !important;
    }
}