$response-sl: 567px;
$response-sx: 767px;
$response-sw: 1199px;
$sidebar-width: 260px;
$fullscrin-width: 100%;
$container-width: 1440px;
$position-rel: relative;

$transition-time: .3s;
$transition-duration: ease;